<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="clientManagerObjects" type="Genting.Infrastructure.CommonServices.Client.Core.Configurations.ObjectConfiguration, Genting.Infrastructure.CommonServices.Client.Core" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <clientManagerObjects>
    <messenger name="FleckMessenger" type="Genting.Infrastructure.CommonServices.Client.Messengers.FleckMessenger, Genting.Infrastructure.CommonServices.Client.Messengers" />
    <interpreters>
      <item name="MockInterpreter" type="Genting.Infrastructure.CommonServices.Client.Interpreters.MockInterpreter, Genting.Infrastructure.CommonServices.Client.Interpreters" />
      <item name="BarcodeInterpreter" type="Genting.Infrastructure.CommonServices.Client.Interpreters.BarcodeInterpreter, Genting.Infrastructure.CommonServices.Client.Interpreters" />
      <item name="TerminalInterpreter" type="Genting.Infrastructure.CommonServices.Client.Interpreters.TerminalInterpreter, Genting.Infrastructure.CommonServices.Client.Interpreters" />
    </interpreters>
    <settings>
      <item name="FleckMessenger" data="ws://127.0.0.1:8031/service" />
      <item name="BarcodeInterpreter" data="&lt;inArgs&gt;&lt;cmdArgs&gt;&lt;arg-int&gt;1&lt;/arg-int&gt;&lt;arg-int&gt;1&lt;/arg-int&gt;&lt;/cmdArgs&gt;&lt;/inArgs&gt;" />
    </settings>
  </clientManagerObjects>
  
</configuration>
